<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      function showAddUser(){
        alert(1111);
      }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>欢迎 这是一个： <%= title %></p>
    <button onclick="showAddUser()">添加用户</button>
  </body>
</html>
