<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<div class="head">
   	<div class="logo">
   		<span id="logo" style="font-size: 24px;color: #fff;font-weight: bold;line-height: 50px; margin-left:8px;">德邦药业网站后台管理系统</span>
    </div>
    <div class="user">
    	<div class="admin">
        	<div class="touxiang"><img src="images/user.png"/></div>
            <p>欢迎您！admin</p>
        </div>
        <ul>
        	<li><i class="yonghuming renwu">&#xe6e7;</i></li>
            <li><i class="yonghuming renwu">&#xe6ec;</i></li>
            <li><i class="yonghuming renwu">&#xe6ee;</i></li>
            <li><i class="yonghuming renwu">&#xe6e8;</i></li>
        </ul>
    </div>
  </div>
</html>