<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
  <title>
    后台管理系统
  </title>
  <link rel="stylesheet" href="/stylesheets/crm.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/iconfont.css" type="text/css">
  <script type="text/javascript" src="common/jquery/jquery.min.js"></script>
  <script type="text/javascript">
  </script>
</head>
<body>

<% include ../topMenu.ejs %>
<% include ../leftMenu.ejs %>

<div id="mainMenuList">
  <div class="nav">
    <ul>
      <li>
        <i class="nav_icon">&#xe6c4;</i><p>个人基本信息</p>
      </li>
      <li>
        <i class="nav_icon">&#xe6bd;</i><p>参数维护</p>
      </li>
      <li>
        <i class="nav_icon">&#xe66d;</i><p>数据级功能点管理</p>
      </li>
      <li>
        <i class="nav_icon">&#xe674;</i><p>模块管理</p>
      </li>
      <li>
        <i class="nav_icon">&#xe6a5;</i><p>主菜单管理</p>
      </li>
      <li>
        <i class="nav_icon">&#xe6ad;</i><p>我的代理</p>
      </li>
      <li>
        <i class="nav_icon">&#xe6b8;</i><p>业务事件驱动管理器</p>
      </li>
      <li>
        <i class="nav_icon">&#xe675;</i><p>后台任务管理</p>
      </li>

    </ul>
  </div>
</div>

</body>
<% include ../footerPage.ejs %>
</html>